@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;500;700&family=Megrim&display=swap');

:root {
  --color-white: #fff;
  --color-grey: #939598;
  --color-grey-dark: #636568;
  --color-green: #cdf400;
  --color-red: #8b0000;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: var(--color-grey-dark);
}

.mobile-line-break {
  display: none;
}

.body-container {
  width: 100%;
}

.body-section {
  width: 100%;
  padding: 40px 0 35px;
  box-sizing: border-box;
}

.body-section.with-text {
  --side-pads: max(
    20px, (100% - 900px) / 2
  );
  padding-left: var(--side-pads);
  padding-right: var(--side-pads);
}

.section-pre-header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-green);
  color: var(--color-grey);
}

.section-pre-header a {
  color: var(--color-grey);
  text-decoration: none;
}

.pre-header-text {
  text-align: center;
}

.language-menu.hidden {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.section-video {
  display: flex;
  width: 100%;
  padding: 0;
}

.video-container {
  width: 100%;
  height: auto;
  outline: 0;
}

.video-container:focus {
  outline: 0;
}

.video-image {
  width: 100%;
  padding-bottom: 33%;
  background-image: url('../assets/imgs/video-image.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-title {
  background-color: var(--color-green);
  color: var(--color-white);
  font-family: 'Megrim', sans-serif;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
}

.section-install, .section-bio {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-white);
  color: var(--color-grey);
  box-sizing: border-box;
}

.install-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.install-column.icons {
  max-width: 120px;
  padding: 0 20px;
  box-sizing: border-box;
}

.install-icon-wrapper {
  width: 100%;
  background-color: var(--color-green);
  border-radius: 15px;
  margin: 10px 0;
  overflow: hidden;
  box-sizing: border-box;
}

.install-icon-wrapper a {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.install-icon {
  width: 80%;
  padding-bottom: 100%;
  margin: 0 auto;
  background-image: url('../assets/imgs/favicon.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  box-sizing: border-box;
}

.install-icon.flip {
  transform: rotate(180deg);
}

.section-about {
  background-color: var(--color-green);
  color: var(--color-grey);
}

.about-title {
  margin-bottom: 12px;
  color: var(--color-white);
  text-transform: uppercase;
}

.bio-column {
  flex: 1;
}

.bio-column.images {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  padding: 0 20px;
  box-sizing: border-box;
}

.bio-image {
  width: 100%;
  padding-bottom: 100%;
  background-image: url('../assets/imgs/mari.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  box-sizing: border-box;
}

.bio-image.tgh {
  background-image: url('../assets/imgs/tgh.jpg');
}

.bio-image + .bio-image {
  margin-top: 16px;
}

.bio-column.tgh {
  align-self: flex-end;
}

.section-email {
  background-color: var(--color-green);
  color: var(--color-grey);
  text-align: center;
}

.email-form {
  padding: 40px 0;
}

.email-thank-you {
  opacity: 1;
  font-size: 40px;
  font-family: 'Megrim', sans-serif;
  color: var(--color-white);
  text-transform: uppercase;
  transition: opacity .15s linear;
}

.email-thank-you.hidden {
  opacity: 0;
}

.signup-error {
  opacity: 0;
  color: var(--color-red);
  font-size: 13px;
  text-align: center;
  padding-bottom: 8px;
}

.signup-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.sign-up-column {
  width: 33%;
}

.sign-up-column.label {
  text-align: right;
}

.signup-form label {
  display: block;
  font-size: 16px;
  margin-right: 20px;
  text-transform: uppercase;
}

.signup-form input {
  width: 100%;
  border: 0;
  line-height: 1.7;
  color: var(--color-grey);
}

.signup-form input:focus {
  outline:none;
}

.signup-button-image {
  cursor: pointer;
  margin: 0;
  margin-left: 20px;
  padding-bottom: 24px;
  background-image: url('../assets/imgs/arrows.svg');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

#mc_embed_signup {
  position: absolute;
  z-index: -100;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}


@media screen and (max-width: 650px) {
  .mobile-line-break {
    display: inline;
  }

  .body-section {
    padding: 28px 0 23px;
  }

  .section-pre-header {
    flex-direction: column;
    padding: 16px;
  }

  .language-menu {
    margin-top: 10px;
    text-align: center;
  }

  .language-menu.hidden {
    display: none;
  }

  .section-video {
    padding: 0;
  }

  .section-title {
    font-size: 45px;
  }

  .section-install {
    flex-wrap: wrap;
  }

  .install-column.text {
    flex: auto;
    width: 100%;
    margin-bottom: 10px;
  }

  .install-column.icons {
    max-width: 100px;
    padding-left: 0;
  }

  .section-bio {
    flex-wrap: wrap;
  }

  .bio-column {
    flex: auto;
    width: 100%;
  }

  .bio-column.images {
    flex-direction: row;
    justify-content: space-between;
    max-width: none;
    padding: 30px 0;
  }

  .bio-image + .bio-image {
    margin: 0;
  }

  .bio-image {
    margin: 0;
    width: 45%;
    padding-bottom: 45%;
  }

  .bio-column.tgh {
    text-align: right;
  }

  .email-form {
    padding: 28px 0;
  }

  .sign-up-column {
    width: 20%;
  }

  .sign-up-column.input {
    flex: 1;
  }

  .signup-form label {
    font-size: 13px;
  }

  .signup-form input {
    line-height: 1.5;
  }

  .signup-button-image {
    padding-bottom: 20px;
  }

  .email-thank-you {
    font-size: 28px;
  }
}
